*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI,sans-serif;
}

html{
scroll-behavior:smooth;
}

body{
background:#c00000;
color:white;
text-align:center;  
}

header{
position:fixed;
top:0;
width:100%;
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:rgba(0,0,0,.85);
z-index:1000;
}

.logo{
color:white;
font-size:20px;
font-weight:bold;
}

nav a{
color:white;
margin-left:20px;
text-decoration:none;
}

.hero{
height:100vh;
background:
linear-gradient(rgba(0,0,0,.55),rgba(0,0,0,.55)),
url("https://images.unsplash.com/photo-1517048676732-d65bc937f952?auto=format&fit=crop&w=1500&q=80");
background-size:cover;
background-position:center;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
}

.overlay{
color:white;
}

.hero h1{
font-size:60px;
margin-bottom:20px;
}

.hero p{
font-size:22px;
margin-bottom:20px;
}

.btn{
background:#d60000;
padding:15px 30px;
border-radius:30px;
color:white;
text-decoration:none;
}

section{
padding:100px 20px;
max-width:1200px;
margin:auto;
}

h2{
text-align:center;
margin-bottom:40px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.card{
background:white;
padding:25px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.15);
}

.galerie{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:15px;
}

.galerie img{
width:100%;
border-radius:15px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:12px;
border:1px solid #ccc;
border-radius:8px;
}

button{
background:#d60000;
color:white;
border:none;
padding:12px;
border-radius:8px;
cursor:pointer;
}

footer{
background:black;
color:white;
text-align:center;
padding:25px;
}
